<ul class='refer'>
	{{#each copy.work}}
	<li class='refer--item'>
		<p class='refer--kicker {{kicker}}'>{{kicker}}</p>
		<a class='refer--link' href='{{link}}' target='_blank'>{{title}}</a>
		<p class='refer--info'>{{info}}</p>
	</li>
	{{/each}}
</ul>